body {
	margin: 0em;
	padding: 0em;
	background-color: #f4f4f5;

	#app {
		font-family: Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;

		margin: 0em;
		padding: 0em;
	}
}
