.ListCalculation {
	display: flex;
	flex-direction: row;
	justify-content: center;

	padding: 0.5em;

	.panel {
		.title {
			&:hover {
				cursor: pointer;
			}
		}
	}

	span.reloadButton {
		span {
			// position: absolute;
			top: 5;
			right: 0;
			padding-left: 1em;
			.icon {
				font-family: "Open Sans", sans-serif !important;
			}
		}
	}
}
