@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

html {
	background-color: #f4f4f5;
}
body {
	margin: 0em;
	padding: 0em;
	min-height: 100%;

	#app {
		font-family: Calibri, Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;

		margin: 0em;
		padding: 0em;
	}
}
