.FinanceCalculator {
	background-color: white;
	height: 100vh;
	margin: 0.75em;
	border-radius: 1em;

	display: flex;
	flex-direction: column;
	align-content: center;
	padding: 0.5em;
	padding-bottom: 4em;
}
