.FinanceQuote {
	.quoteFieldsArea {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		.quoteFields {
			width: 100%;
			display: flex;
			flex-direction: row;
			height: 2em;

			flex-basis: 1;

			> div {
				width: 50%;
				display: flex;
				flex-direction: row;
			}
			.property {
				justify-content: flex-start;
				padding-left: 1em;
			}
			.value {
				justify-content: flex-end;
				input {
					width: 60%;
					background-color: #f8fcff66;
					color: navy;
					text-align: right;
				}
			}

			&:nth-child(even) {
				background-color: #f6f6f630;
			}
		}

		.buttonArea {
			width: 100%;
			flex-basis: 1;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			padding-right: 2em;
		}
	}
}
